.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 0.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: #949494;
}

.sliders {
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  margin-bottom: -5em;
  border-top-style: solid;
  border-top-width: 0.1em;
  border-top-color: #dcdcdc;
}
