.colour-guide {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  color: black;
  padding-left: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-top-color: #dadada;
  border-left-color: #dadada;
  border-bottom-color: black;
  border-right-color: black;
}

.colour-guide > pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  padding: 0.1em;
}

.colour-guide-ages {
  margin-top: 1.1em;
}

.colour-guide-1-week {
  background-color: #9d1d1e;
  color: white;
}

.colour-guide-2-weeks {
  background-color: #985d1b;
}

.colour-guide-1-month {
  background-color: #98952a;
}

.colour-guide-3-months {
  background-color: #22605b;
  color: white;
}

.colour-guide-6-months {
  background-color: #1d4293;
  color: white;
}

.colour-guide-1-year {
  background-color: #682489;
  color: white;
}

.colour-guide-more-than-1-year {
  background-color: #582341;
  color: white;
}

.colour-guide-monitored {
  background-color: #c67071;
}
