.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 8em;
}

.dropdown-content > * {
  margin: 0em;
  padding-left: 0.3rem;
}

.dropdown-right {
  right: 0.6em;
}
.show {
    display: block;
}
