.app {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  grid-template-areas: 
    "tb tb"
    "cc pm"
    "cc vw"
    "cc vw"
    "sh vw"
    "mk vw"
    "mk vw"
    "mk cg";
  height: 100vh;
  width: 100vw;
}

.app > .toolbar {
  grid-area: tb;
}

.app > .camera-controls {
  grid-area: cc;
  padding-right: 0.4em;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-right-color: #949494;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: #949494;
}

.app > .camera-controls > .buttons {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.app > .camera-controls + hr {
  grid-area: hr1;
  padding-right: 0.4em;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-right-color: #949494;
}

.app > .search {
  grid-area: sh;
  padding-right: 0.4em;
  padding-left: 1em;
  padding-top: 0.5em;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-right-color: #949494;
  border-top-style: solid;
  border-top-width: 0.1em;
  border-top-color: #dcdcdc;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: #949494;
}

.app > .search + hr {
  grid-area: hr2;
  padding-right: 0.4em;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-right-color: #949494;
}

.app > .marks {
  grid-area: mk;
  padding-right: 0.4em;
  margin-left: 1em;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-right-color: #949494;
  border-top-style: solid;
  border-top-width: 0.1em;
  border-top-color: #dcdcdc;
}

.app > .marks > .marks-header {
  padding-top: 0.5em;
}

.app > .path-manager {
  grid-area: pm;
  padding-left: 0.4em;
  border-left-style: solid;
  border-left-width: 0.1em;
  border-left-color: #dcdcdc;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: #949494;
}

.app > .view {
  grid-area: vw;
  border-left-style: solid;
  border-left-width: 0.1em;
  border-left-color: #dcdcdc;
  border-top-style: solid;
  border-top-width: 0.1em;
  border-top-color: #dcdcdc;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: #949494;
  width:  initial !important;
  height: initial !important;
}

.app > .colour-guide {
  grid-area: cg;
  border-left-style: solid;
  border-left-width: 0.1em;
  border-left-color: #dcdcdc;
}
