.marks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.marks-header {
  margin-bottom: -1em;
  margin-top: 0.5em;
}

.marks-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.goto-button {
  margin-left: 2em;
  margin-right: 1em;
}

